/* mobile.css */

body{
    border: 2px solid black;
    background-color: white;
    text-align: center;
    padding: 20px;
}

h1{
    color: red;
    font-size: 2em;
}

p{
    color: black;
    font-size: 1.2em;
}

@media screen and (min-width: 600px) {
/* desktop.css */
    body{
        background-color: maroon;
        text-align: center;
        padding: 50px;
    }

    h1{
        color: white;
        font-size: 3em;
    }

    p{
        color: black;
        font-size: 1.5em;
    }
}