/* mobile.css */

body{
    border: 2px solid black;
    background-color: white;
    text-align: center;
    padding: 20px;
}

h1{
    color: red;
    font-size: 2em;
}

p{
    color: black;
    font-size: 1.2em;
}